header {
    display: flex;
    align-items: flex-end;
    gap: 0.7rem;
    margin-bottom: 1rem;
    flex-shrink: 0;
}

header h1 {
    color: var(--primary);
    font-weight: bolder;
    width: min-content;
}

header hr {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    width: 5rem;
}