form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

form input {
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    outline: none;
    border: 1px solid black;
    font-family: 'Lato', sans-serif;
}

form input:focus {
    border: 1px solid var(--primary);
}

button {
    padding: 0.2rem 1rem;
    background-color: var(--primary);
    border: none;
    outline: none;
    border-radius: 0.1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: var(--hover-primary);
}