input[type="checkbox"] {
    accent-color: var(--primary);
    width: 1rem;
    height: 1rem;
}

li:hover {
    background-color: #efefef;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 0.2rem;
}

.todo-item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.delete-icon svg,
.edit-icon svg {
    transition: fill .3s;
}

.delete-icon:hover svg,
.edit-icon:hover svg {
    fill: #000;
}