.todo-list ul {
    margin-top: 1rem;
    list-style: none;
}

.todo-list ul li {
    padding-block: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}