@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary: #fc4e4e;
  --hover-primary: #db4040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f5f5f5;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }
}